<div *ngIf="!isConnected;else other_content">
  <button (click)="reload()" [disabled]="isReloading">Refresh</button>
  <button (click)="showRoomSetting()">Create New Room</button>
  <hr/>
  <ng-container *ngIf="rooms.length">
    <table style="font-size:12px; border: 0; border-spacing: 0; width: 100%;">
      <tr>
        <th style="padding: 0 1em;">Room ID</th>
        <th style="padding: 0 1em; min-width: 50%;">Room Name</th>
        <th style="padding: 0 1em;">Password</th>
        <th style="padding: 0 1em;">Clients</th>
        <th style="padding: 0 1em;"></th>
      </tr>
      <ng-container *ngFor="let room of rooms">
        <!--
    <div *ngIf="!room.isPrivate" class="box">
      <div style="display: inline-block;">
        <i *ngIf="0 < room.peers[0].password.length" class="material-icons" style="vertical-align: middle; size:0.6rem;">lock</i>
        <span>{{room.roomName}}</span>/<span>{{room.room}}</span>/<span>({{room.peers.length}})</span>
        <button [disabled]="room.room === currentRoom" *ngIf="0 < room.room.length" type="submit" (click)="connect(room.peers[0].fullstring)">接続する</button>
      </div>
    </div>
    -->
        <tr>
          <td style="font-size:0.5rem; text-align: center; padding: 0 1em;">{{room.peers[0]?.room}}</td>
          <td style="text-align: center; padding: 0 1em;">{{room.roomName}}</td>
          <td *ngIf="0 < room.peers[0].password.length" style="text-align: center; padding: 0 1em;"><i class="material-icons" style="vertical-align: middle; font-size:0.9rem;">lock</i></td>
          <td *ngIf="room.peers[0].password.length < 1" style="text-align: center; padding: 0 1em;">-</td>
          <td style="text-align: center; padding: 0 1em;">{{room.peers.length}}</td>
          <td><button [disabled]="room.peers[0]?.room === currentRoom" *ngIf="0 < room.alias.length" type="submit" (click)="connect(room.peers)">Connect</button></td>
        </tr>
      </ng-container>
    </table>
  </ng-container>
  <span *ngIf="rooms.length < 1" style="font-size: 12px;">{{help}}</span>
</div>
<ng-template #other_content><span style="font-size: 12px;">To change rooms, first disconnect from all other clients.<br>(This can be done by refreshing the page.)</span></ng-template>
