<ng-container *ngIf="isMobile; then mobileContent; else normalContent"></ng-container>

<ng-template #normalContent>
  <div *ngIf="myPeer">
    <span>Display Name: <input [(ngModel)]="myPeer.name"  placeholder="Name" appAutofocus list="input-name-list"/></span>
    <datalist id="input-name-list">
        <option value="Mastermind"></option>
        <option value="Protagonist A"></option>
        <option value="Protagonist B"></option>
        <option value="Protagonist C"></option>
      </datalist>
    <div class="icon-wrapper">
    <button (click)="changeIcon()">Change Icon</button>
      <div *ngIf="myPeer.image" class="image cover" [style.background-image]="'url(' + myPeer.image.url + ')' | safe: 'style' "
        (click)="changeIcon()">
        <!--<img *ngIf="myPeer.image" [src]="myPeer.image.url | safe: 'resourceUrl'" />-->
      </div>
    </div>
  </div>
  <div>
    <span>Your ID:<span *ngIf="networkService.isOpen" style="font-weight: bold;">{{networkService.peerContext.id}}</span>
    <span *ngIf="!networkService.isOpen" style="font-weight: bold;">???</span>
    </span>
  </div>
  <!--<div>host ID:{{networkService.hostPeerID}}</div>-->
  <ng-container *ngIf="18 < networkService.peerId.length">
    <hr/>
    <div>
      <span>Room Name:<span *ngIf="networkService.isOpen" style="font-weight: bold;">{{networkService.peerContext.roomName}}/{{networkService.peerContext.room}}</span></span>
    </div>
    <div>
      <span>Password:<span *ngIf="networkService.isOpen" style="font-weight: bold;">{{networkService.peerContext.password}}</span></span>
    </div>
  </ng-container>
  <hr/>
  <div *ngFor="let conn of networkService.peerContexts">
    <div>
      <span *ngIf="!conn.isOpen">[Connecting]</span>
      <span>Other Clients: {{conn.id}} [{{findPeerName(conn.fullstring)}}]</span>
    </div>
  </div>
  <div>
    <ng-container *ngIf="networkService.peerId.length <= 18">
      <input [(ngModel)]="targetPeerId" placeholder="Target's ID" name="targetPeerId" />
      <button (click)="connectPeer()" [disabled]="!networkService.isOpen">Private Connection</button><br>
    </ng-container>
    <button *ngIf="networkService.peerIds.length <= 1" (click)="showLobby()" [disabled]="!networkService.isOpen">Show Lobby</button>
  </div>
  <div><span style="font-size: 12px;">{{help}}</span></div>
  <ng-container *ngIf="networkService.peerId.length <= 18">
    <div style="font-size: 12px;" *ngIf="networkService.peerContexts.length < 1">To make a private connection with someone, please share your IDs with each other first (outside of Udonarium).</div>
    <div style="font-size: 12px;" *ngIf="networkService.peerContexts.length < 1">If you wish to test by yourself, open this page in two browsers.</div>
  </ng-container>
  <ng-container *ngIf="18 < networkService.peerId.length">
    <div style="font-size: 12px;">Cannot make a private connection while connected to a room.</div>
  </ng-container>
</ng-template>

<ng-template #mobileContent>
  <div *ngIf="myPeer">
    <span><input [(ngModel)]="myPeer.name"  placeholder="Enter a name" appAutofocus list="input-name-list"/></span>
    <datalist id="input-name-list">
      <option value="Mastermind"></option>
      <option value="Protagonist A"></option>
      <option value="Protagonist B"></option>
      <option value="Protagonist C"></option>
    </datalist>
    <div class="icon-wrapper">
      <button (click)="changeIcon()">
        <div *ngIf="myPeer.image" class="image cover" [style.background-image]="'url(' + myPeer.image.url + ')' | safe: 'style' "></div>
      </button>
      <div>
        <span>ID:<span *ngIf="networkService.isOpen" style="font-weight: bold;">{{networkService.peerContext.id}}</span>
        <span *ngIf="!networkService.isOpen" style="font-weight: bold;">???</span>
        </span>
      </div>
    </div>

  </div>

  <ng-container *ngIf="18 < networkService.peerId.length">
    <hr/>
    <div>
      <span>Room ID:<span *ngIf="networkService.isOpen" style="font-weight: bold;">{{networkService.peerContext.room}}</span></span>
    </div>
    <div>
      <span>Password:<span *ngIf="networkService.isOpen" style="font-weight: bold;">{{networkService.peerContext.password}}</span></span>
    </div>
  </ng-container>
  <hr/>
  <div *ngFor="let conn of networkService.peerContexts">
    <div>
      <span *ngIf="!conn.isOpen">[Connecting]</span>
      <span>Other Clients: {{conn.id}} [{{findPeerName(conn.fullstring)}}]</span>
    </div>
  </div>
  <div>

      <button *ngIf="networkService.peerIds.length <= 1" (click)="showLobby()" [disabled]="!networkService.isOpen">Show Lobby</button>
      <hr/>
  

    <ng-container *ngIf="networkService.peerIds.length <= 1">
      <input [(ngModel)]="targetPeerId" placeholder="Target's ID" id="input-target-peer-id" name="targetPeerId" />
      <button (click)="connectPeer()" [disabled]="!networkService.isOpen">Connect</button><br>
    </ng-container>

  </div>
  <div><span style="font-size: 12px;">{{help}}</span></div>
  <ng-container *ngIf="networkService.peerId.length <= 18">
    <div style="font-size: 12px;" *ngIf="networkService.peerContexts.length < 1">To make a private connection with someone, please share your IDs with each other first (outside of Udonarium).</div>
  </ng-container>
  <ng-container *ngIf="networkService.peerId.length > 18 ">
    <div style="font-size: 12px;">Cannot make a private connection while connected to a room.</div>
  </ng-container>
</ng-template>

