<div *ngIf="!isConnected;else other_content">
  <div>Room Name:<input class="input" (input)="calcPeerId($event.target.value, password)" [(ngModel)]="roomName" required minlength="1" maxlength="128" #roomNameValidation="ngModel"
      placeholder="(Mandatory)" /></div>
  <div>Password<input class="input" (input)="calcPeerId(roomName, $event.target.value)" [(ngModel)]="password" maxlength="12" #passwordValidation="ngModel" placeholder="(Optional)"
    /></div>
  <hr/>
  <div *ngIf="roomNameValidation.errors && (roomNameValidation.dirty || roomNameValidation.touched)">
    <div [hidden]="!roomNameValidation.errors.required">
      Please set a valid room name.
    </div>
    <div [hidden]="!roomNameValidation.errors.minlength">
      Please set a valid room name.
    </div>
    <div [hidden]="!roomNameValidation.errors.maxlength">
      Please set a valid room name. (Max length 128)
    </div>
  </div>
  <div *ngIf="passwordValidation.errors && (passwordValidation.dirty || passwordValidation.touched)">
    <div [hidden]="!passwordValidation.errors.maxlength">
      Please set a valid password. (Max length 12)
    </div>
  </div>
  <div *ngIf="!validateLength">
    The room name and password are too long (combined length). Please shorten one or both.
  </div>
  <div>
    <button [disabled]="!roomNameValidation.valid || !passwordValidation.valid || !validateLength" (click)="createRoom()">Create a New Room</button>
  </div>
</div>
<div><span style="font-size: 12px;">The room will automatically be deleted if it has no participants. If you wish to save your data, please do so before leaving.</span></div>
<ng-template #other_content>
  <span style="font-size: 12px;">Cannot create a new room while connected to other clients.<br>If you wish to create a new room, disconnect from any other clients first.<br>(This can be done by refreshing the page.)</span>
</ng-template>
